{% extends "contest.html" %}

{% set page = "instructions" %}

{% block core %}
<div class="span9">

<div class="page-header">
    <h1>{% trans %}Rules & Instructions{% endtrans %}</h1>
</div>

<h2>{% trans %}Contest Rules{% endtrans %}</h2>

<ol>
<li>{% trans %}This paper is only for invited Round 2 candidates. They will see the questions and submit programs on the saco-evaluator.{% endtrans %}</li>

<li>{% trans %}You may code your solutions in C++, Java, Python3 or Pascal/Delphi. The time multipliers are{% endtrans %}:
<ul>
  <li>C++: 1x</li>
  <li>Pascal/Delphi: 1x</li>
  <li>Java: 2x</li>
  <li>Python: 10x</li>
</ul>
{% trans %}For example, if the time limit given is 1 second, a Java solution may run for up to 2 seconds.{% endtrans %}
</li>

<li>{% trans %}Any attempt to access any other website or source of information will disqualify you, with the exception of online compilers such as{% endtrans %} <a href="https://rextester.com/l/pascal_online_compiler" target="_blank">rextester</a>. {% trans %}For programming language documentation, refer to the {% endtrans %} <a href="{{ contest_url("documentation") }}">{% trans %}Documentation{% endtrans %}</a> {% trans %}link given on the pane on the left-hand side.{% endtrans %}</li>

<li>{% trans %}Any submissions on the evaluator should <b>NOT</b> attempt any of the following:{% endtrans %}
<ul>
  <li>{% trans %}access the internal evaluation server network,{% endtrans %}</li>
  <li>{% trans %}fork or execute external programs,{% endtrans %}</li>
  <li>{% trans %}create or access files,{% endtrans %}</li>
  <li>{% trans %}attack the system security or the grader,{% endtrans %}</li>
  <li>{% trans %}change file system permissions, or{% endtrans %}</li>
  <li>{% trans %}read file system information.{% endtrans %}</li>
</ul>
{% trans %}A competitor whose submissions attempt any of the above may be disqualified.{% endtrans %}
</li>

<li>{% trans %}Programs must pass the plagiarism check to be deemed valid.{% endtrans %}</li>

<li>{% trans %}Log on using the username and password given to you by your teacher.{% endtrans %}</li>

<li>{% trans %}There are five questions. There are 100 marks for each question. Each question is made up of subtasks. There are different marks for each subtask.{% endtrans %}</li>

<li>{% trans %}For each subtask, your score will be the highest score obtained across all your submissions for that question.{% endtrans %}</li>

<li>{% trans %}You will have two hours (120 minutes) to complete all 5 questions.{% endtrans %}</li>

<li>{% trans %}You will only be permitted to submit at most 50 submissions for the 2 hours of the contest.{% endtrans %}</li>

<li>{% trans %}You may assume that the user input will satisfy the problem specification and so you do not need to validate the input.{% endtrans %}</li>

<li>{% trans %}You should not write code to produce only specific answers, as the judges will use other test cases.{% endtrans %}</li>

<li>{% trans %}After 120 minutes, the server will end your participation. Should you finish before the time, check that you have answered all the questions.{% endtrans %}</li>

<li>{% trans %}Do not wait until the last few minutes to submit your programs.{% endtrans %}</li>

<li>{% trans %}Do not communicate the task statements or nature of the problems with other students from different schools until after the competition period is over.{% endtrans %}</li>

</ol>

<h2>{% trans %}Instructions{% endtrans %}</h2>

<ol>
<li>{% trans %}Verify that your full name give on the bar in the top right hand corner is correct.{% endtrans %} {% trans %}If there are errors, then{% endtrans %} <a href="{{ contest_url("communication") }}">{% trans %}submit a question{% endtrans %}</a> {% trans %}with the subject heading "<b>Full Name</b>", and in the body of the question, simply give your correct full name.{% endtrans %}</li>

<li>{% trans %}Once you are ready to begin the contest, click on "<b>Start</b>". This sets the clock (top left) running. The Second Round questions will appear on the pane on the left-hand side. {% endtrans %}</li>

<li>{% trans %}You will now have two hours (120 minutes) to complete all 4 questions.{% endtrans %}</li>

<li>{% trans %}Click on "Statement", underneath the first question you wish to answer. Click on either "Statement in <b>English</b>" or "Statement in <b>Afrikaans</b>", depending on which language you wish to use.{% endtrans %}</li>

<li>{% trans %}Using the template files, or otherwise, write a program to solve the problem. Cut and paste or type the program in the template provided for your language.{% endtrans %}</li>

<li>{% trans %}Click on "Submissions". Click "Choose File", and select the source code of your program you wish to submit.{% endtrans %}</li>

<li>{% trans %}Select the relevant programming language, and then click "Submit".{% endtrans %}</li>

<li>{% trans %}You may use the{% endtrans %} <a href="{{ contest_url("communication") }}">{% trans %}Communication{% endtrans %}</a> {% trans %}(top of left pane) but note that responses may be delayed.{% endtrans %}</li>

</ol>

<h2>{% trans %}Additional Important Notes{% endtrans %}</h2>

<ol>

<li>{% trans %}Delphi/Pascal users may want to use the int64 datatype for numbers, to ensure you do not get integer overflow (e.g. on the evaluator, the 'integer' datatype is 16-bit).{% endtrans %}</li>

<li>{% trans %}Your program should not output anything other than the answer. E.g. if you are asked to read in two integers A and B and print out their sum, you must print out ONLY the value of A+B. If your program prints out anything else, such as 'Enter A and B:', you will get ZERO.{% endtrans %}</li>

<li>{% trans %}The 64-bit integer datatypes in each language (Python handles by default) are{% endtrans %}:
<ul>
  <li>Java: long</li>
  <li>C++: long long</li>
  <li>Delphi/Pascal: int64</li>
</ul>
</li>

</ol>

</div>
{% endblock core %}
