{% extends "base.html" %}

{% block title %}
    {{ contest.description }}
{% endblock title %}

{% block body %}

<script>
var utils = new CMS.CWSUtils("{{ url() }}", "", "Password Reset",
                             0, 0, 0, 0, 0);

$(document).ready(function() {
    $('#main').css('top', $('#navigation_bar').outerHeight());

    $("#signup").submit(function(e) {
        // Reset error text
        $("#username-input").removeClass("error");
        $("#username-input span.help-block").text("");

        var data = $(this).serialize();
        var url = $(this).attr('action');

        $("#submit-button-loading").show();

        $.post(url, data).done(function(data) {
            $("#signup-mask").hide();
            $("#confirmed-mask").show();
            $("#show-username").text(data);
        }).fail(function(data) {
            // Check if username exists
            if (data.status === 409) {
                $("#username-input").addClass("error");
                $("#username-input span.help-block").text("{% trans %}Username or email incorrect.{% endtrans %}");
                $("#username").focus();
            }
        }).always(function() {
            $("#submit-button-loading").hide();
        });

        e.preventDefault();
    });
});
</script>
<div id="navigation_bar" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/cms">SAPO Contest Server</a>
{% if available_translations|length > 1 %}
            <p class="navbar-text pull-right">
                <select id="lang" class="form-control btn btn-info" onchange="utils.switch_lang()">
                    <option value=""{% if cookie_translation is none %} selected{% endif %}>{% trans lang=automatic_translation.name %}Automatic ({{ lang }}){% endtrans %}</option>
                {% for lang_code, t in available_translations|dictsort(by="key") %}
                    <option value="{{ lang_code }}"{% if t == cookie_translation %} selected{% endif %}>{{ t.name }}</option>
                {% endfor %}
                </select>
            </p>
{% endif %}
        </div>
    </div>
</div>
<div class="login_container">
    <div class="login_box hero-unit" style="margin-top: -300px;">

        <div id="signup-mask">
            <p>{% trans %}Please enter your username and email address below to request a password reset.{% endtrans %}</p>
            <form id="signup" class="form-horizontal" action="{{ contest_url('password') }}">
                {{ xsrf_form_html|safe }}
                {% set next_page = handler.get_argument("next", none) %}
                {% if next_page is not none %}
                <input type="hidden" name="next" value="{{ next_page }}">
                {% endif %}
                <fieldset>
                    <div id="username-input" class="control-group">
                        <label class="control-label" for="username">{% trans %}Username{% endtrans %}</label>
                        <div class="controls">
                            <input required minlength="1" pattern="^[A-Za-z0-9_-]+$" type="text" class="input-xlarge" name="username" id="username">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="email">{% trans %}E-mail{% endtrans %}</label>
                        <div class="controls">
                            <input required minlength="0" type="text" class="input-xlarge" name="email" id="email" autocomplete="email">
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary btn-large">{% trans %}Request Reset{% endtrans %}</button>
                            <img id="submit-button-loading" style="display: none;" src="{{ url('static', 'loading.gif') }}" alt="loading..." />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

        <div id="confirmed-mask" style="display: none;">

            <p>{% trans %}Password reset request has been succesfully logged.{% endtrans %}</p>

            <p>{% trans %}You should receive an e-mail within 24 hours with your new password.{% endtrans %}</p>

	    <p>{% trans %}If no email is received, please let us know here{% endtrans %}: <a href="mailto:admin@saco-evaluator.org.za">{% trans %}E-mail{% endtrans %}</a></p>

            <a href="{{ contest_url() }}" class="btn btn-success btn-large">{% trans %}Back to login{% endtrans %}</a>        </div>
    </div>
</div>

{% endblock body %}
